#key {
    margin-left: .5em;
}

#map {
    margin: auto;
    margin-top: .5em;
    width: 59em;
    height: 29em;
    border: .1em solid #444;
}

.filter {
    color: #444 !important;
}

body {
    height: 100%;
    width: 100%;
    background-color: #3F93CC;
    font: normal 1em Verdana;
    color: #666;
}

a, a:visited {
    font: normal 1em Verdana;
    color: #fff;
    text-decoration: none;
}

    a.ack {
        margin-left: 2em;
        color: #444;
    }

table {
    margin: auto;
    margin-bottom: 1em;
    width: 85%;
    border-collapse: collapse;
    border: .1em solid #444;
    border-radius: .5em;
}

    table p {
        margin: 0;
        padding: 0;
    }

    table tr {
        width: 100%;
        border: .1em solid #444;
        color: #444;
    }

        table tr:nth-child(odd) {
            background-color: #D1F5FF;
        }

        table tr:nth-child(even) {
            background-color: #EEE;
        }

    table td {
        margin: .5em;
        border: .1em solid #444;
    }

        table td.item-link {
            text-align: center;
        }

        table td.item-title {
            text-align: left;
        }

        table td.item-title {
            text-align: left;
        }

h1 {
    margin-left: .5em;
    font: bold 1.2em verdana;
}

h2 {
    margin-left: 5em;
    font: normal 1em verdana;
}

h3 {
    margin-left: 6em;
    font: normal 1em verdana;
}


#main {
    position: absolute;
    top: 20em;
    margin-top: -7.5em;
    left: 50%;
    margin-left: -30em;
    width: 60em;
    background-color: #fff;
    -webkit-box-shadow: .4em .4em 1em .1em #444444;
    box-shadow: .4em .4em 1em .1em #444444;
    -webkit-border-radius: .5em;
    border-radius: .5em;
    min-height: 15em;
}

.div-page-title {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -.5em;
    overflow: hidden;
    font-size: 29em;
    opacity: 0.2;
    filter: alpha(opacity=20);
    display: none;
    color: #fff;
}

.segment {
    display: none;
}

.projects-segment-active {
}

.segment-active {
    margin-bottom: 1em;
}

    .segment-active p {
        margin-left: 5em;
        margin-right: 5em;
    }

.segment-span {
    margin: 1em;
}

.segment-experience {
    margin-left: 5em;
}

#div-site-selection {
    background-color: #888;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#888));
    background-image: -webkit-linear-gradient(top, #ccc, #888);
    background-image: -moz-linear-gradient(top, #ccc, #888);
    background-image: -o-linear-gradient(top, #ccc, #888);
    background-image: linear-gradient(to bottom, #ccc, #888);
    -webkit-border-radius: .5em .5em 0 0;
    border-radius: .5em .5em 0 0;
    border: .1em solid #444;
    position: relative;
    top: -1em;
    color: #ccc;
}

#site-selection {
    list-style: none;
}

.site-selection-item {
    display: inline-block;
}

.link {
    display: block;
    font-size: 2em;
    cursor: pointer;
    white-space: nowrap;
    margin-top: .2em;
    margin-right: .9em;
    padding: .1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

    .link:hover {
        color: #444;
    }

    .link.active {
        color: #444 !important;
    }

#contact-selection {
    list-style: none;
    float: left;
    margin-top: 3em;
    margin-left: 8em;
}

.contact-selection-item {
    display: inline-block;
    margin-right: 2em;
}

#project-selection {
    list-style: none;
}
